#root {
  min-height: 100vh;
  background: rgb(0, 246, 255);
  background: linear-gradient(
    3deg,
    rgba(0, 246, 255, 1) 0%,
    rgba(6, 143, 148, 1) 74%
  );
  background-size: cover;
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.gris {
  background-color: grey;
}

.negro {
  background-color: black;
}

.verde {
  background-color: green;
}

.naranja {
  background-color: orange;
}

.celeste {
  background-color: skyblue;
}

.blanco {
  background-color: white;
}
